@model EshopMVC.Models.Sleva

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sleva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hodnota" class="control-label"></label>
                <input asp-for="Hodnota" class="form-control" />
                <span asp-validation-for="Hodnota" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="JeProcentualni" /> @Html.DisplayNameFor(model => model.JeProcentualni)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MinimalniPocet" class="control-label"></label>
                <input asp-for="MinimalniPocet" class="form-control" />
                <span asp-validation-for="MinimalniPocet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumZacatku" class="control-label"></label>
                <input asp-for="DatumZacatku" class="form-control" />
                <span asp-validation-for="DatumZacatku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumKonce" class="control-label"></label>
                <input asp-for="DatumKonce" class="form-control" />
                <span asp-validation-for="DatumKonce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
